body{
    background-color: aquamarine;
}
nav{
    background-color: black;
    color: aliceblue;
}
#nav{
   display:flex;
   flex-direction: column;
   height: 200px;
}
ul li{
    margin-top: 100px;
    display:inline-block;
    font-size: 20px;
    font-style: italic;
    margin: 10px;
    font-weight: bold;
}
nav img{
    top:0;
    left: 0;
   position: fixed;
   height: 50px;
   
}